* /*{ margin: 0; padding: 0; box-sizing: border-box;}*/
        a { text-decoration: none; color: #000;}
        img { vertical-align: top;}
        ol, ul, li { list-style: none;}

        html, body { height: 100%;}
        .lecture_area { display: flex; flex-direction: column; position: relative; width: 100%; height: 100%; background-color: #000;}
        .lecture_area .ico { width: 100%; height: 100%; object-fit: cover;}
        .lecture_body { display: flex; height: 100%; max-height: calc(100% - 100px);}
        .lecture_body .video_area { width: 75%;}
        .lecture_body .video_area .video { width: 100%; height: 100%;}
        .lecture_body .chat_area { display: flex; flex-direction: column; width: 25%; height: 100%;}
        .lecture_footer { height: 100px;}

        .msger { display: flex; flex-flow: column wrap; justify-content: space-between; width: 100%; max-width: 867px; margin: 25px 10px; height: calc(100% - 50px); border-radius: 5px; box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);}
        .msger_chat { flex: 1; overflow-y: scroll; padding: 10px;}
        .msg { display: flex; align-items: flex-end; margin-bottom: 10px;}
        .msg_img { width: 50px; min-width: 50px; height: 50px; margin-right: 10px; background: #ddd; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 50%;}
        .msg_bubble { max-width: 450px; padding: 15px; border-radius: 15px; background: #ececec;}
        .msg_info { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
        .msg_info_name { margin-right: 10px; font-weight: 700;}
        .msg_info_time { font-size: 0.85em;}
        .left_msg .msg_bubble { border-bottom-left-radius: 0;}
        .right_msg { flex-direction: row-reverse;}
        .right_msg .msg_bubble { background: #579ffb; color: #fff; border-bottom-right-radius: 0;}
        .right_msg .msg_img { margin: 0 0 0 10px;}
        .msger_inputarea { display: flex; padding: 10px; background: #eee;}
        .msger_inputarea * { padding: 10px; border: none; border-radius: 3px; font-size: 1em;}
        .msger_input { flex: 1; background: #ddd;}
        .msger_send_btn { margin-left: 10px; background: rgb(0, 196, 65); color: #fff; font-weight: bold; cursor: pointer; transition: background 0.23s;}
        .msger_send_btn:hover { background: rgb(0, 180, 50);}
        .msger_chat { background-color: #fcfcfe;}

        .lecture_footer { display: flex; align-items: center; position: absolute; left: 0; bottom: 0; width: 100%; padding: 0 20px; background-color: #666666;}
        .lecture_footer .lecture_name .txt { font-size: 24px; color: #fff;}
        .lecture_footer .ico_area { display: flex; flex: 1; justify-content: center; position: relative;}
        .lecture_footer .emoji_area { position: absolute; bottom: calc(100% + 10px); padding: 5px;}
        .lecture_footer .emoji_list { display: flex; gap: 5px;}
        .lecture_footer .emoji_btn { display: block; width: 20px; height: 20px;}
        .lecture_footer .ico_list { display: flex; gap: 10px; padding: 10px;}
        .lecture_footer .ico_btn { display: block; width: 50px; height: 50px;}
        .lecture_footer .etc_list { display: flex; gap: 10px; padding: 10px;}
        .lecture_footer .etc_btn { display: block; width: 35px; height: 35px; }
        .lecture_footer .bdr_raius { padding: 10px 20px; border-radius: 100px; background-color: rgba(0,0,0,.3);}
        .Resource {
    font-size: 50px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.file-type-label{
    font-size: 20px;
    text-align: center;
}

.search-container{
    font-size:20px;
    text-align: center;
}

.search-input{
    font-size:17px;
    text-align: center;
}

.search-button{
    font-size: 17px;
    text-align: center;
}

.file-type-dropdown{
    font-size:17px;
    text-align: center;
}

.msg_text{
    height: 450px;
    top: 20px;
}
.file-info{
    font-size:20px;
    text-align: left;
}
.download-button{
    width:30px;
    height:30px;
   margin-left:250px;
   margin-top:-30px;
}

.delete-button{
    width:30px;
    height:30px;
    margin-top:-30px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  color: black; /* 텍스트 색상을 원하는 색상으로 변경하세요. */
}

.answer{
    font-size: 15px;
    font-weight: bold;
    color:black;
}

/* 드랍다운 버튼 스타일 설정 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 드랍다운 버튼 스타일 설정 */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 5px 7.5px; /* 선택 버튼의 크기를 조정하세요 */
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #2980b9;
}

/* 드랍다운 메뉴 스타일 설정 */
/* 드랍다운 메뉴 스타일 설정 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px; /* 드랍다운 메뉴의 너비를 조정하세요 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* 드랍다운 메뉴 활성화 */
.dropdown:hover .dropdown-content {
    display: block;
}
.page-number{
    text-align: center;
    color:black;
    font-weight: bold;
}

.icon-button img{
    width:20px;
    height: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    float: right;

}

.msg_bubble{
    margin-top: 20px;
}